
# Dolt database files (added by bd init)
.dolt/
*.db

# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/static/*
!backend/static/.gitkeep
backend/tmp/
paulette
paulette_test
paulette.exe
paulette_test.exe
repos/

# Docker
.env

# Beads / Dolt files (added by bd init)
.beads-credential-key
backend/backend.exe
docker-compose.override.yml

# Logs
log/
*.log
